* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  display: flex;
  align-items: none;
  justify-content: left;
  min-height: 100vh;
  background: url("pnt1.jpg") no-repeat center;
  background-size: cover;
}

.material-symbols-outlined {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border-color: rgb(3, 115, 132);
  background-color: rgb(3, 115, 132);
  color: white;
  padding: auto;
  margin: 20px;
  cursor: pointer;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tentang {
  margin: 100px;
  color: white;
}
