* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  display: flex;
  align-items: none;
  justify-content: left;
  min-height: 100vh;
  background: url("../image/pnt5.jpg") no-repeat center;
  background-size: cover;
}

.navbar {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

img {
  height: 60px;
  margin-left: 88%;
  border-radius: 8px;
}

.back {
  width: 100px;
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  background: rgb(3, 115, 132);
  align-items: left;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.back-button {
  width: 50px;
  position: absolute;
  left: 25%;
  top: 5%;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background: none;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.material-symbols-outlined {
  line-height: 40px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 0px;
  height: 0px;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

h1 {
  font-size: 670%;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.tentang {
  margin: auto;
  color: white;
  width: 70%;
  text-align: left;
  justify-content: left;
  margin-left: 20px;
  margin-top: 20%;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.container {
  position: absolute;
  bottom: 25%;
  display: flex;
  background: none;
  right: 97%;
}

.container img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.7);
}

.swiper-button-next {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Agar tidak memengaruhi tata letak gambar */
  top: 75%; /* Posisi vertikal sejajar tengah */
  transform: translateY(-50%); /* Koreksi agar benar-benar tengah */
  z-index: 2; /* Supaya muncul di atas gambar */
}

.card-wrapper {
  max-width: 700px;
  margin: 20px;
  padding: 12px 5px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 540px;
}

.card-list .card-item .image-item {
  user-select: none;
  width: 200px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
  object-position: left;
  margin-left: 15px;
  cursor: pointer;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.58);
  transition: transform 0.3s ease;
}

.card-list .card-item .image-item:hover {
  transform: scale(1.1);
}
